.main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;

    .content {
        width: 800px;
        display: flex;
    }

    .descriptions{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 60px;

        .descriptions-text {

            p {
                padding: 20px 0;
            }
            
            img {
                width: 30px;

                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .skills {
            align-items: center;
        }
    }
    

    
    .img-div {
        img {
            width: 300px;
            border: 1px solid black;
            border-radius: 50%;
        }
    }
    
}


.skills {
    display: flex;
    img {
        width: 50px;
        margin: 10px;
    }
}

$breakpoint-tablet: 770px;
@media (max-width: $breakpoint-tablet) {
    .main {
        display: flex;

        
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .descriptions-text {
            text-align: center;
        }
        .skills {
            align-items: center;
        }
    }
}